@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:ital,wght@0,100;0,400;0,600;0,800;1,100;1,400;1,800&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: rgb(16, 16, 16);
  display: flex;
  justify-content: center;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

section.sign-up-form {
  width: 1327px;
  background-color: #f8f9fa;
}

div.bg-img {
  width: 495px;
  height: 100vh;
  background-image: url(../images/jason-ryan-RCLtBDW0izo-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div.bg-img-logo,
div.bg-img-credit {
  text-align: center;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  color: #ffffff;
}

div.bg-img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-transform: uppercase;
    font-size: 4.5rem;
    margin-bottom: 560px;
    font-family: 'Poiret One', cursive;
}

div.bg-img-logo img {
    height: 80%;
}

div.bg-img-credit {
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 4px;
}
